images {
    width: 300px;
   height: 300px;
}
body {
    text-align: center;
    background-color: limegreen;
}
.album {
   margin-right: 25px;
    margin-left: 25px;
}
.alum {
display: flex;
    justify-content: center;
}